{{ define "main" }}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1>{{ .Title }}</h1>
    <div class="postdate">{{ .Date.Format "2006-01-02" }}</div>
	{{ if gt .Params.tags 0 }}
	<div class="article-tag">
		<i class="fas fa-tag"></i>
		{{ range $index, $value := .Params.tags }}
		<a class="tag-link" href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}" rel="tag">{{ $value }}</a>
		{{ end }}
	</div>
	{{ end }}

    <div class="content" itemprop="articleBody">
        {{ .Content }}
    </div>
</article>
{{ end }}
